## Get the Data

Either use the provided .csv file or (optionally) get fresh (the freshest?) data from running an SQL query on StackExchange: 

Follow this link to run the query from [StackExchange](https://data.stackexchange.com/stackoverflow/query/675441/popular-programming-languages-per-over-time-eversql-com) to get your own .csv file

<code>
select dateadd(month, datediff(month, 0, q.CreationDate), 0) m, TagName, count(*)
from PostTags pt
join Posts q on q.Id=pt.PostId
join Tags t on t.Id=pt.TagId
where TagName in ('java','c','c++','python','c#','javascript','assembly','php','perl','ruby','visual basic','swift','r','object-c','scratch','go','swift','delphi')
and q.CreationDate < dateadd(month, datediff(month, 0, getdate()), 0)
group by dateadd(month, datediff(month, 0, q.CreationDate), 0), TagName
order by dateadd(month, datediff(month, 0, q.CreationDate), 0)
</code>

## Import Statements

In [1]:
import pandas as pd

**Challenge**: Read the .csv file and store it in a Pandas dataframe

## Data Exploration

In [2]:
df = pd.read_csv('QueryResults.csv', names=['DATE', 'TAG', 'POSTS'], header=0)
print (df.columns)

Index(['DATE', 'TAG', 'POSTS'], dtype='object')

**Challenge**: Examine the first 5 rows and the last 5 rows of the of the dataframe

In [3]:
df.tail()

                     DATE    TAG  POSTS
1986  2020-07-01 00:00:00      r   5694
1987  2020-07-01 00:00:00     go    743
1988  2020-07-01 00:00:00   ruby    775
1989  2020-07-01 00:00:00   perl    182
1990  2020-07-01 00:00:00  swift   3607

**Challenge:** Check how many rows and how many columns there are. 
What are the dimensions of the dataframe?

In [4]:
df.shape

(1991, 3)

**Challenge**: Count the number of entries in each column of the dataframe

In [5]:
df.count()

DATE     1991
TAG      1991
POSTS    1991
dtype: int64

**Challenge**: Calculate the total number of post per language.
Which Programming language has had the highest total number of posts of all time?

In [6]:
df.groupby("TAG").sum("POSTS")

              POSTS
TAG
assembly      34852
c            336042
c#          1423530
c++          684210
delphi        46212
go            47499
java        1696403
javascript  2056510
perl          65286
php         1361988
python      1496210
r            356799
ruby         214582
swift        273055

Some languages are older (e.g., C) and other languages are newer (e.g., Swift). The dataset starts in September 2008.

**Challenge**: How many months of data exist per language? Which language had the fewest months with an entry?

In [7]:
df.groupby("TAG").count()

            DATE  POSTS
TAG
assembly     144    144
c            144    144
c#           145    145
c++          144    144
delphi       144    144
go           129    129
java         144    144
javascript   144    144
perl         144    144
php          144    144
python       144    144
r            142    142
ruby         144    144
swift        135    135

## Data Cleaning

Let's fix the date format to make it more readable. We need to use Pandas to change format from a string of "2008-07-01 00:00:00" to a datetime object with the format of "2008-07-01"

In [8]:
print(df['DATE'][1])
print(df.DATE[1])
print(type(df.DATE[1]))

2008-08-01 00:00:00
2008-08-01 00:00:00
<class 'str'>

In [9]:
df.DATE = pd.to_datetime(df.DATE)
print(type(df.DATE[1]))
print(df)

<class 'pandas._libs.tslibs.timestamps.Timestamp'>
           DATE         TAG  POSTS
0    2008-07-01          c#      3
1    2008-08-01    assembly      8
2    2008-08-01  javascript    162
3    2008-08-01           c     85
4    2008-08-01      python    124
...         ...         ...    ...
1986 2020-07-01           r   5694
1987 2020-07-01          go    743
1988 2020-07-01        ruby    775
1989 2020-07-01        perl    182
1990 2020-07-01       swift   3607

[1991 rows x 3 columns]

## Data Manipulation

In [10]:
reshaped_df = df.pivot(index='DATE', columns='TAG', values='POSTS')
print (reshaped_df)

TAG         assembly       c       c#     c++  delphi     go     java  \
DATE
2008-07-01       NaN     NaN      3.0     NaN     NaN    NaN      NaN
2008-08-01       8.0    85.0    511.0   164.0    14.0    NaN    222.0
2008-09-01      28.0   321.0   1649.0   755.0   105.0    NaN   1137.0
2008-10-01      15.0   303.0   1989.0   811.0   112.0    NaN   1153.0
2008-11-01      17.0   259.0   1730.0   735.0   141.0    NaN    958.0
...              ...     ...      ...     ...     ...    ...      ...
2020-03-01     317.0  2670.0   8954.0  5107.0   181.0  719.0  13253.0
2020-04-01     406.0  3472.0  10042.0  6820.0   250.0  887.0  15377.0
2020-05-01     386.0  3602.0   9923.0  7063.0   221.0  826.0  14711.0
2020-06-01     363.0  2757.0   9064.0  6161.0   214.0  765.0  13015.0
2020-07-01     298.0  2294.0   9145.0  5756.0   212.0  743.0  12723.0

TAG         javascript   perl     php   python       r   ruby   swift
DATE
2008-07-01         NaN    NaN     NaN      NaN     NaN    NaN     NaN
2008-08-01       162.0   28.0   161.0    124.0     NaN   73.0     NaN
2008-09-01       640.0  131.0   482.0    542.0     6.0  290.0     NaN
2008-10-01       725.0  127.0   617.0    510.0     NaN  249.0     NaN
2008-11-01       579.0   97.0   504.0    452.0     1.0  160.0     NaN
...                ...    ...     ...      ...     ...    ...     ...
2020-03-01     20483.0  215.0  6672.0  26673.0  5761.0  780.0  3434.0
2020-04-01     24634.0  240.0  8060.0  32605.0  7047.0  860.0  4015.0
2020-05-01     25196.0  228.0  7917.0  34478.0  6833.0  774.0  4066.0
2020-06-01     23360.0  203.0  7188.0  31817.0  6249.0  670.0  3733.0
2020-07-01     23802.0  182.0  7334.0  31261.0  5694.0  775.0  3607.0

[145 rows x 14 columns]

**Challenge**: What are the dimensions of our new dataframe? How many rows and columns does it have? Print out the column names and print out the first 5 rows of the dataframe.

In [11]:
reshaped_df.shape

(145, 14)

**Challenge**: Count the number of entries per programming language. Why might the number of entries be different?

In [12]:
reshaped_df.count()

TAG
assembly      144
c             144
c#            145
c++           144
delphi        144
go            129
java          144
javascript    144
perl          144
php           144
python        144
r             142
ruby          144
swift         135
dtype: int64

In [13]:
reshaped_df.fillna(0, inplace=True)

In [14]:
reshaped_df.count()

TAG
assembly      145
c             145
c#            145
c++           145
delphi        145
go            145
java          145
javascript    145
perl          145
php           145
python        145
r             145
ruby          145
swift         145
dtype: int64

## Data Visualisaton with with Matplotlib

**Challenge**: Use the [matplotlib documentation](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.plot.html#matplotlib.pyplot.plot) to plot a single programming language (e.g., java) on a chart.

In [15]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

**Challenge**: Show two line (e.g. for Java and Python) on the same chart.

# Smoothing out Time Series Data

Time series data can be quite noisy, with a lot of up and down spikes. To better see a trend we can plot an average of, say 6 or 12 observations. This is called the rolling mean. We calculate the average in a window of time and move it forward by one overservation. Pandas has two handy methods already built in to work this out: [rolling()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html) and [mean()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.window.rolling.Rolling.mean.html).